{% extends 'base.html.twig' %}

{% block title %}Votre espace
{% endblock %}

{% block body %}
	<div class="container white">
		<h1 class="text-center mt-5 massenet">Votre espace
			{{ app.user.firstName }}
		</h1>
		<div class="avatar"><img src="{{ asset(['images/avatars/', app.user.avatar]|join) }}" alt="avatar"></div>
		<div class="d-flex text-center mt-5">
			<div class="col">
				<button class="btn btn-primary">
					<a href="{{ path('gallery_echange_show', {'id': app.user.id }) }}" class="white lien">Vos œuvres à l'échange</a>
				</button>
				<button class="btn btn-primary">
					<a href="{{ path('gallery_echange_new') }}" class="white lien">Créer une galerie d'échange</a>
				</button>
			</div>
			<div class="col">
				<button class="btn btn-info">
					<a href="{{ path('gallery_vente_show', {'id': app.user.id }) }}" class="white lien">Vos œuvres à la vente</a>
				</button>
				<button class="btn btn-info">
					<a href="{{ path('gallery_vente_new') }}" class="white lien">Créer une galerie de vente</a>
				</button>
			</div>
		</div>
	</div>

	<script>
		document.getElementById('member').style.display = 'none';
	</script>
	<script>
		document.getElementById('bleudeco').style.display = 'none';
	</script>
	<script>
		document.getElementById('deconnexion').style.display = 'block';
	</script>
	<script>
		document.getElementById('achats').style.display = 'none';
	</script>
	<script>
		document.getElementById('echanges').style.display = 'none';
	</script>
	<script>
		document.getElementById('achat').style.display = 'none';
	</script>
	<script>
		document.getElementById('echange').style.display = 'none';
	</script>
	<script>
		document.getElementById('inscription').style.display = 'none';
	</script>
	<script>
		document.getElementById('connexion').style.display = 'none';
	</script>
	<script>
		document.getElementById('admin').style.display = 'none';
	</script>
{% endblock %}
