<nav class="navbar navbar-expand-lg nav mx-auto" id="navigation">


	<div class="navbar-toggle navbar-collapse" id="">
		<ul class="navbar-nav text-center">
			<li class="nav-item cadre1">
				<a class="nav-link" id="pas_vu" href="{{ path('home' ) }}">Accueil</a>
			</li>
			<li class="nav-item cadre5">
				<a class="nav-link" id="acheter" href="#">Acheter</a>
			</li>
			<li class="nav-item cadre4">
				<a class="nav-link" id="echanger" href="#">Echanger</a>
			</li>
			<li class="nav-item cadre3">
				<a class="nav-link" id="contact" href="#">Contact</a>
			</li>

		</ul>

		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a href="#" class="nav-link" id="achats">
					<i class="fas fa-shopping-bag bleuMarine"></i>
					Vos achats</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link" id="echanges">
					<i class="far fa-handshake"></i>
					Vos échanges</a>
			</li>
			<li lass="nav-item">
				<a class="nav-link" id="inscription" href="{{ path("security_registration")}}" tabindex="-1" aria-disabled="true">
					<i class="fas fa-user-circle bleuCiel"></i>
					Inscription</a>
			</li>
			<li lass="nav-item">
				<a class="nav-link" id="connexion" href="{{ path("security_login")}}" tabindex="-1" aria-disabled="true">
					<i class="fas fa-sign-in-alt rose"></i>
					Connexion</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="deconnexion" href="{{ path("security_logout")}}" tabindex="-1" aria-disabled="true">
					<i class="fas fa-sign-out-alt bleuCiel"></i>
					Déconnexion</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="member" href="{{ path("member_index")}}" tabindex="-1" aria-disabled="true">
					<i class="fas fa-home"></i>
					Votre compte</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="admin" href="#" tabindex="-1" aria-disabled="true">
					<i class="fas fa-tools"></i>
					Administration</a>
			</li>
		</ul>

	</div>
</nav>
