<nav class="navbar navbar-expand-lg nav mx-auto" id="navigation">


	<div class="navbar-toggle navbar-collapse" id="">
		<ul class="navbar-nav text-center liste_nav liens_gauche homeNav">
			<li class="nav-item bleu" id="pas_vu">
				<a class="nav-link massenet" href="{{ path('home' ) }}" style="font-size:1.5em;">Accueil</a>
			</li>
			<li class="nav-item bleu" id="acheter">
				<a class="nav-link massenet" href="{{ path('buy_index') }}" style="font-size:1.5em;">Acheter</a>
			</li>
			<li class="nav-item bleu" id="echanger">
				<a class="nav-link massenet" href="{{ path('share_index') }}" style="font-size:1.5em;">Echanger</a>
			</li>
			<li class="nav-item bleu" id="contact">
				<a class="nav-link massenet" href="#" style="font-size:1.5em;">Contact</a>
			</li>

		</ul>

		<ul class="navbar-nav ml-auto liens_droits">
			<li class="nav-item bleu" id="achat">
				<a href="#" class="nav-link massenet" id="achats">
					<i class="fas fa-shopping-bag bleuMarine"></i>
					Vos achats</a>
			</li>
			<li class="nav-item bleu" id="echange">
				<a href="#" class="nav-link massenet" id="echanges">
					<i class="far fa-handshake"></i>
					Vos échanges</a>
			</li>
			<li lass="nav-item bleu" id="registration">
				<a class="nav-link greu massenet" id="inscription" href="{{ path("security_registration")}}" tabindex="-1" aria-disabled="true">
					<i class="fas fa-user-circle bleuCiel"></i>
					Inscription</a>
			</li>
			<li lass="nav-item bleu">
				<a class="nav-link orange massenet" id="abonnement" href="{{ path("subscriber_index")}}" tabindex="-1" aria-disabled="true">
					<i class="fas fa-marker"></i>
					Abonnements</a>
			</li>
			<li lass="nav-item bleu">
				<a class="nav-link noir massenet" id="connexion" href="{{ path("security_login")}}" tabindex="-1" aria-disabled="true">
					<i class="fas fa-sign-in-alt rose"></i>
					Connexion</a>
			</li>
			<li class="nav-item noir" id="deco">
				<a class="nav-link massenet" id="deconnexion" href="{{ path("security_logout")}}" tabindex="-1" aria-disabled="true">
					<i class="fas fa-sign-out-alt bleuCiel"></i>
					Déconnexion</a>
			</li>
			<li class="nav-item bleu ml-2" id="bleudeco">
				<a class="nav-link massenet" id="member" href="{{ path("member_index")}}" tabindex="-1" aria-disabled="true">
					<i class="fas fa-home"></i>
					Votre compte</a>
			</li>
			<li class="nav-item">
				<a class="nav-link massenet" id="admin" href="#" tabindex="-1" aria-disabled="true">
					<i class="fas fa-tools"></i>
					Administration</a>
			</li>
		</ul>

	</div>
</nav>
