{% extends 'base.html.twig' %}

{% block title %}Galerie de vente.
{% endblock %}

{% block body %}
	<div class="container mt-5 text-center">
		<h1 class="text-center massenet">Vos œuvres à la vente.</h1>
		<table class="table mt-3">
			<tbody>

				<tr>
					<th>Nom de la galerie</th>
					<td>{{ gallery_vente.name }}</td>
				</tr>
				<tr>
					<th>Les œuvres</th>
					<td>

						{% for artisticWork in gallery_vente.artisticWorks %}

							<p><img src=" {{ asset(['images/artisticWorks/', artisticWork.picture]|join) }} " class="images"></p>
							<p>{{ artisticWork.name|title }}:</p>
							<p>{{ artisticWork.description }}</p>

						{% endfor %}

					</td>
				</tr>
			</tbody>
		</table>

		<a href="{{ path('member_index') }}">Retour à votre espace.</a>

		<a href="{{ path('gallery_vente_edit', {'id': gallery_vente.id}) }}">Modifier</a>

		{{ include('gallery_vente/_delete_form.html.twig') }}
	</div>
	<script>
		document.getElementById('inscription').style.display = 'block';
document.getElementById('connexion').style.display = 'block';
document.getElementById('admin').style.display = 'none';
document.getElementById('member').style.display = 'none';
document.getElementById('deconnexion').style.display = 'none';
document.getElementById('achats').style.display = 'none';
document.getElementById('echanges').style.display = 'none';
document.getElementById('echange').style.display = 'none';
document.getElementById('achat').style.display = 'none';
document.getElementById('deco').style.display = 'none';
document.getElementById('bleudeco').style.display = 'none';
	</script>
	{% if app.user %}
		<script>
			document.getElementById('member').style.display = 'block';
document.getElementById('bleudeco').style.display = 'block';
document.getElementById('deco').style.display = 'block';
document.getElementById('deconnexion').style.display = 'block';
document.getElementById('achats').style.display = 'block';
document.getElementById('echanges').style.display = 'block';
document.getElementById('inscription').style.display = 'none';
document.getElementById('connexion').style.display = 'none';
document.getElementById('admin').style.display = 'none';
		</script>
	{% endif %}
	{% if is_granted('ROLE_ADMIN') %}
		<script>
			document.getElementById('admin').style.display = 'block';
		</script>
	{% endif %}
{% endblock %}
